This notebook has been created to help me learn about list comprehension in Python as part of my [#100DaysOfCode](https://github.com/pbeens/100DaysOfCode) project.

## Resource 1

The first reference I'll be using is [https://www.pythonforbeginners.com/basics/list-comprehensions-in-python](https://www.pythonforbeginners.com/basics/list-comprehensions-in-python).

The traditional way opf doing it looks like this:

```
new_list = []
for i in old_list:
    if filter(i):
        new_list.append(expressions(i))
```

In [0]:
old_list = [1, 2, 3, 'A', [4, 7]]

In [2]:
# Old-school example:

new_list = []
for i in old_list: # loop through items
    if i != '': # test condition (not necessary here, but included to show how filtering selecting items works)
        new_list.append(i) # append to new list
print(new_list) # voila!

[1, 2, 3, 'A', [4, 7]]

Redoing the above example in list comprehension looks like this:

  ```python
  new_list = [expression(i) for i in old_list if filter(i)]
  ```

This is explained on the resource site as:

> new_list:
- The new list (result).

> expression(i):
- Expression is based on the variable used for each element in the old list.

> for i in old_list:
- The word for followed by the variable name to use, followed by the word in the old list.

> if filter(i):
- Apply a filter with an If-statement.

In [3]:
# re-coded using list comprehension:

new_list = [i for i in old_list if i != '']
print(new_list)

[1, 2, 3, 'A', [4, 7]]

## Some Exercises

In [4]:
# first 10 numbers
print([i for i in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# every 2nd number
print([i for i in range(10) if i % 2 == 0])

[0, 2, 4, 6, 8]

In [6]:
# print squares
print([x*x for x in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
# print squares but only if the square is divisible by 3, up to x = 100
print([x*x for x in range(101) if x*x % 3 == 0]) # note that I have to use '101' to get up to 100

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900, 1089, 1296, 1521, 1764, 2025, 2304, 2601, 2916, 3249, 3600, 3969, 4356, 4761, 5184, 5625, 6084, 6561, 7056, 7569, 8100, 8649, 9216, 9801]

In [8]:
# let's extract every first letter of a list of words
s = 'The woods are lovely, dark and deep, But I have promises to keep, and miles to go before I sleep'
s2 = [word[0].lower() for word in s.split()]
print(s2)
# with poem credit to Robert Frost

# to assemble the letters we can use join()
print(''.join(s2))

['t', 'w', 'a', 'l', 'd', 'a', 'd', 'b', 'i', 'h', 'p', 't', 'k', 'a', 'm', 't', 'g', 'b', 'i', 's']
twaldadbihptkamtgbis

## Resource 2

I found some interactive challenges at https://www.learnpython.org/en/List_Comprehensions which I have also coded below.

### Exercise 1

In [9]:
# Old way
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = []
for word in words:
      if word != "the":
          word_lengths.append(len(word))
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [10]:
# and now using list comprehension
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = [len(word) for word in words if word != 'the']
print(word_lengths)

[5, 5, 3, 5, 4, 4, 3]

### Exercise 2

In [11]:
# Using a list comprehension, create a new list called "newlist" out of the list
# "numbers", which contains only the positive numbers from the list, as 
# integers.
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist = [num for num in numbers if num >= 0]
print(newlist)

[34.6, 44.9, 68.3, 44.6, 12.7]

### Exercise 3

Some challenges posted at https://www.reddit.com/r/learnpython/comments/4d2yl7/i_need_list_comprehension_exercises_to_drill/

In [12]:
# Find all of the numbers from 1-1000 that are divisible by 7
nums = [num for num in range(1, 1001) if num % 7 == 0]
print(nums)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [13]:
# Find all of the numbers from 1-1000 that have a 3 in them
nums = [num for num in range(1, 1001) if '3' in str(num)]
print(nums)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [14]:
# Count the number of spaces in a string
s = '''One word can start a friendship,
One kiss a love affair,
One smile can bring you laughter,
One hug can show you care
'''
# Read the rest of the poen at 
# https://www.familyfriendpoems.com/poems/life/inspirational/

# traditional way
count = s.count(' ')
print(count)

# LC way
spaces = [c for c in s if c == ' ']
print(len(spaces))

19
19

In [15]:
# Remove all of the vowels in a string
vowels = 'aeiouAEIOU'
s = 'Remove all of the vowels in a string'
new_string = ''.join([c for c in s if c not in vowels])
print(new_string)

Rmv ll f th vwls n  strng

In [16]:
# Find all of the words in a string that are less than 4 letters
words = 'Find all of the words in a string that are less than 4 letters'.split()
short_words = [word for word in words if len(word) < 4]
print(short_words)

['all', 'of', 'the', 'in', 'a', 'are', '4']

In [17]:
# A list of all the capital letters (and not white space) in 'The Quick Brown Fox Jumped Over The Lazy Dog'
import string
s = 'The Quick Brown Fox Jumped Over The Lazy Dog'
letters = [letter for letter in s if letter in string.ascii_uppercase]
print(letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

## Resource 3

This site had a tutorial with examples of list comprehensions using nested loops and dictionaries. This might be exactly what I am looking for to solve my #100DaysOfCode Day 1-2 challenge! [https://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/](https://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/)

In [18]:
'''
The example on the website for nested loops is this:

flattened = []
for row in matrix:
    for n in row:
        flattened.append(n)

...which in LC translates to this:

flattened = [n for row in matrix for n in row]

I'm going to use the data  from the challenge I have to solve, which is...

'''

matrix1 = [[1, -2], [-3, 4]]
matrix2 = [[2, -1], [0, -1]]

# let's flatten each

m1_flattened = [n for row in matrix1 for n in row]
print(f'before: {matrix1} after: {m1_flattened}')

# let's test reversing this, just for fun: (from the reference site)
m1_back_to_a_matrix = [m1_flattened[i:i + 2] for i in range(0, len(m1_flattened), 2)]
print(f'm1_back_to_a_matrix: {m1_back_to_a_matrix}')

# and now for matrix2
m2_flattened = [n for row in matrix2 for n in row]
print(f'before: {matrix2} after: {m2_flattened}')
m2_back_to_a_matrix = [m2_flattened[i:i + 2] for i in range(0, len(m2_flattened), 2)]
print(f'm2_back_to_a_matrix: {m2_back_to_a_matrix}')

before: [[1, -2], [-3, 4]] after: [1, -2, -3, 4]
m1_back_to_a_matrix: [[1, -2], [-3, 4]]
before: [[2, -1], [0, -1]] after: [2, -1, 0, -1]
m2_back_to_a_matrix: [[2, -1], [0, -1]]

---

The original of this notebook can be found at https://colab.research.google.com/drive/1fbmH9yDS5fzFcxEZMnUzmb3qCqGQoaEv